body {
  background-color: #82cdff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.winner-title {
  height: 74px;
  width: 430px;
  background-color: #0099ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
}

.scoreboard {
  width: 950px;
  height: 148px;
  background-color: #0099ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 17px;
}

.scoreboard-player-name {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
}

.score {
  width: 130px;
  height: 120px;
  background-color: #dbf1ff;
  border-radius: 17px;
  font-size: 104px;
  font-weight: 900;
  line-height: 108px;
  text-align: center;
  color: #0099ff;
}

.vs-small {
  color: #ffffff;
  font-weight: 900;
  font-size: 58px;
  margin: 0 10px;
}

.battle-field {
  display: flex;
  margin-top: 56px;
  height: 414px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.button-play {
  width: 220px;
  height: 80px;
  background-color: #0099ff;
  font-size: 44px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.button-play:hover {
  border: 1px solid #0099ff;
  background-color: transparent;
  color: #0099ff;
  box-shadow: 3px 0px 13px #000000;
  transform: scale(1.1);
}

.field-box {
  width: 1313px;
  height: 414px;
  background-color: #0099ff;
  margin: 0 19px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px;
  box-sizing: border-box;
}

.field {
  width: 464px;
  height: 348px;
  background-color: #dbf1ff;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs-big {
  font-size: 104px;
  color: #ffffff;
  font-weight: 900;
}

.config {
  margin-top: 22px;
}

.button-reset {
  margin-left: 101px;
}

.move-image {
  width: 70%;
}

.field-player-2 {
  transform: rotate(180deg);
}
